.dashboardContainer {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    box-sizing: border-box;
}

.dashboardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 1rem;
    box-sizing: border-box;
    padding: 0 2rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }